<div class="container mt-4">
  <%= tag.h1 "写真投稿アプリ" %>
  <%= tag.p "子供たちの写真を投稿するアプリ" %>
  <%= tag.p "現在のログインユーザー:   id = #{@current_user.id}  /  User Name = #{@current_user.name}", class:"mt-4" %>
</div>